ol{
    flex-direction:row;
    list-style: none;
    justify-content: space-between;
    display: flex;
}





#parent-div{
    background-color: yellow;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.child-div {
    width: 50px;
background-color: brown

}


#container-div {
    width: 700px;
    height: 800px;
    background-color: skyblue;
    display: flex;
    flex-direction: column-reverse;
}

p {
    color: red;
    flex-direction: column-reverse;
}